<div class="col-md-8 mb-4 d-flex">
    <div class="card flex-fill">
        <div class="card-header">
            Video Preview
        </div>
        <div class="card-body mx-auto">
            <video  id="video-preview"
                    class="video-js vjs-big-play-centered"
                    controls
                    poster="{{ base_url() }}/images/no_video.png"
            >
                {# <source src="{{ base_url() }}/videos/vid_1.mp4" type='video/mp4'> #}
                {# <source src="{{ base_url() }}/videos/vid_2.mp4" type='video/mp4'> #}
                <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
        </div>
    </div>
</div>