<div class="col-md-4 mb-4 d-flex">
    <div class="card flex-fill">
        <div class="card-header">
            Select range
        </div>
        <div class="card-body flex-fill">
            <form action="{{ path_for('user.action.authenticate') }}" method="post" novalidate>
                {{ csrf.fields | raw }}
                <div class="row form-group">
                    <div class="col-sm-6">
                        <input type="text" name="range_from" class="form-control" placeholder="From date">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" name="range_to" class="form-control" placeholder="To date">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-8">
                        <select name="source" class="form-control">
                            <option value="" disabled selected>Choose station...</option>
                            <option value="test">Test</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <select name="batch_length" class="form-control">
                            <option value="" disabled selected>Video length...</option>
                            <option value="600">10 min</option>
                            <option value="1200">20 min</option>
                            <option value="1800">30 min</option>
                            <option value="2700">45 min</option>
                            <option value="3600">60 min</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="submit" value="Fetch videos" class="btn btn-primary btn-block">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>