{% if flash.alerts_errors %}
    <div class="alert alert-danger">
        {{ flash.alerts_errors | first }}
    </div>
{% endif %}

{% if flash.alerts_success %}
    <div class="alert alert-success">
        {{ flash.alerts_success | first }}
    </div>
{% endif %}

{% if flash.alerts_info %}
    <div class="alert alert-info">
        {{ flash.alerts_info | first }}
    </div>
{% endif %}