<footer class="footer">
    <div class="container">
        <p class="float-left">
            Video Editing Tool &copy; Mediaobserver
        </p>
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
    </div>
</footer>
