<footer class="footer noselect">
    <div class="container">
        <span class="float-left cursor-default">
            Video Editing Tool &copy; Mediaobserver
        </span>
        <span class="float-right">
            <a href="#">Back to top</a>
        </span>
    </div>
</footer>
