app/cache/**/*.php
app/logs/*.csv
app/logs/*.log
app/config/*stag*
app/config/*prod*
vendor/
node_modules/
public/tmp/**/*.mp4
public/tmp/**/*.m3u8
public/tmp/**/*.jpg
public/tmp/**/*.ts
public/userfiles/
node_modules/
vendor/
app/
