Header set Access-Control-Allow-Origin "*"

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Follow symbolic links in this directory.
Options +FollowSymLinks
Options -MultiViews

# Customized error messages.
ErrorDocument 404 /error/

DirectoryIndex index.php

<IfModule mod_rewrite.c>
RewriteEngine On
# # rewrite all requests to index
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?q=$1 [QSA,L]
</IfModule>
