{% extends 'app.twig' %}

{% block stylesheets %}
    {% include 'listing/components/stylesheets.twig' %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12 mx-auto">
        <h1>Video Listing</h1>
    </div>
</div>

<div class="row">
    {% include 'listing/components/form.twig' %}
</div>

<div class="row">
    {% include 'listing/components/list.twig' %}
</div>


{% endblock %}