{% extends 'app.twig' %}

{% block stylesheets %}
    {% include 'video/components/stylesheets.twig' %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12 mx-auto">
        <h1>Video Editing</h1>
    </div>
</div>

<div class="row">
    <div class="row d-flex col-xl-8">
        {% include 'video/components/preview.twig' %}
        {% include 'video/components/episodes.twig' %}
    </div>
    <div class="row d-flex col-xl-4">
        {% include 'video/components/videos.twig' %}
    </div>
</div>

<div class="row">
    {% include 'video/components/edit.twig' %}
</div>


{% endblock %}