{% extends 'app.twig' %}

{% block stylesheets %}
    {% include 'publication/components/stylesheets.twig' %}
{% endblock %}

{% block content %}

<div class="row">
    Coming soon
</div>


{% endblock %}