<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Follow symbolic links in this directory.
Options +FollowSymLinks
Options -MultiViews

# 24 hours lifetime of cookies and sessions
php_value session.cookie_lifetime 86400
php_value session.gc_maxlifetime 86400

DirectoryIndex index.php
<IfModule mod_rewrite.c>
	RewriteBase /
    RewriteEngine On
#	RewriteCond %{QUERY_STRING} ^(.+)$
#	RewriteRule (\:*) $1_%1? [R=permanent]
#	RewriteRule ^rawVideos/(.+)([0-9]{2})\;([0-9]{2})\;([0-9]{2})(\.ts$) rawVideos/$1$2_$3_$4$5 [L,R=301]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>
