{% extends 'app.twig' %}

{% block stylesheets %}
    {% include 'publication/report/components/stylesheets.twig' %}
{% endblock %}

{% block content %}

<div class="row">
    {% include 'publication/report/components/list.twig' %}
</div>

{% endblock %}