<div class="card">
    <div class="card-header mx-0 px-0">
        <div class="col-md-12">
            Queries List
        </div>
    </div>
    <div class="card-body">
        <form>
            <table id="listing-queries-table" class="table display  dataTable" data-query-list-url="{{ base_url() }}{{ path_for('video.action.get_query_list') }}">
                {{ csrf.fields | raw }}
                <thead>
                <tr>
                    <th class="text-center">Title</th>
                    <th class="text-center">Query</th>
                    <th class="text-center">Users</th>
                    <th class="text-center">Keywords</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody id="listing-list-holder">
                </tbody>
            </table>
        </form>
    </div>
</div>
