<div class="col-xl-12 mb-4 d-flex">
    <div class="card flex-fill">
        <div class="card-header">
            Preview
        </div>
        <div class="card-body m-auto">
            <video id="test-video-preview"
                       class="video-js vjs-default-skin"
                       height="400"
                       width="800"
                       controls>

                <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
                <track id="caption_empty" kind="captions" src="{{ base_url() }}/captions.em.vtt" srclang="em" label="Empty" default>
            </video>
        </div>
    </div>
</div>
<div class="col-xl-12 mb-4 d-flex" style="float: left">
    <div class="card flex-fill">
        <div class="card-header">
            Text
        </div>
        <div id="transcript" class="transcript">
        </div>
    </div>
</div>

