{% extends 'app.twig' %}

{% block stylesheets %}
    {% include 'search/components/stylesheets.twig' %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="row d-flex col-xl-9 mx-auto p-0">
        {% include 'search/components/results.twig' %}
    </div>
    <div class="row d-flex col-xl-3 mx-auto p-0">
        {% include 'search/components/form.twig' %}
    </div>
</div>

{% endblock %}