.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.display-none {
    display: none;
}

.position-top-0 {
    top: 0px !important;
}

.cursor-default {
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.z-index-above {
    z-index: 9999;
}

#video-playlists-holder {
    height: 418px;
    overflow: auto;
}

#video-episodes-holder {
    max-height: 528px;
    overflow: auto;
}


/**
 * main videojs player styling
 */

#video-preview .vjs-control-bar {
    height: 6em !important;
}


/**
 * top row
 */

#video-preview .vjs-control {
    height: 3em !important;
}

 #video-preview .vjs-play-control {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
 }

 #video-preview .vjs-volume-panel {
    position: absolute !important;
    top: 0 !important;
    left: 4em !important;
    width: 17em !important;
 }

 #video-preview .vjs-volume-panel .vjs-volume-control,
 #video-preview .vjs-volume-panel .vjs-volume-control .vjs-volume-bar {
    width: 13em !important;
 }

 #video-preview .vjs-current-time {

 }

 #video-preview .vjs-time-control {

 }

 #video-preview .vjs-duration {

 }

 #video-preview .vjs-progress-control {
    position: absolute;
    top: 0;
    left: 22em;
    width: 50em;
 }

 #video-preview .vjs-remaining-time {
    position: absolute;
    top: 0px;
    left: 71em;
 }

 #video-preview .vjs-live-control {

 }

 #video-preview .vjs-live-control {

 }


 /**
  * bottom row
  */

#video-preview .vjs-seek-button.skip-back {
    position: absolute !important;
    top: 3em !important;
    left: 0 !important;
}

#video-preview .vjs-seek-button.skip-forward {
    position: absolute !important;
    top: 3em !important;
    left: 4em !important;
}

#video-preview .vjs-playback-rate {
    position: absolute !important;
    top: 3em !important;
    left: 8em !important;
}

#video-preview .vjs-fullscreen-control {
    position: absolute !important;
    top: 3em !important;
    left: 12em !important;
}

#video-preview .vjs-controltimepanel-RS {
    position: absolute !important;
    top: 2em !important;
    left: 10.5em !important;
}

#video-preview .vjs-rangeslider-handle.vjs-selectionbar-left-RS .vjs-selectionbar-arrow-RS {
    border-left: 3em solid transparent !important;
    border-right: 1em solid transparent !important;
    border-top: 2em solid #FFF273 !important;
    margin-left: -3em !important;
}

#video-preview .vjs-rangeslider-handle.vjs-selectionbar-right-RS .vjs-selectionbar-arrow-RS {
    border-left: 1em solid transparent !important;
    border-right: 3em solid transparent !important;
    border-top: 2em solid #FFF273 !important;
    margin-left: -1em !important;
}
