<div name="global_template_alert_danger" class="row alert alert-danger mb-0">
    <div name="content" class="col-md-11 mx-auto">
        {% if content %}
            {{ content }}
        {% endif %}
    </div>
    <button type="button" class="close col-md-1" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>