<div class="row">
    <div class="col-md-12 my-1">
    <span class="float-right">
        <a href="{{ base_url() }}{{ path_for('video.view.search') }}"><button type="button" class="btn btn-primary btn-block mb-3" data-loading="0">Back to Search</button></a>
    </span>
    </div>
</div>
