<div class="col-xl-12 mb-4 d-flex">
    <div class="card flex-fill">
        <div class="card-header">
            Text
        </div>
        <div class="card-body">
            <textarea
                id="segment_text"
                class="form-control"
                rows="30"
            ></textarea>
        </div>
    </div>
</div>