<div class="col-xl-12 mb-4 d-flex">
    <div class="card flex-fill">
        <div class="card-header">
            <span>Text</span>
            <span class="link-list">
                <a id="vtt_link" target="_blank" rel="noopener noreferrer" href="">[VTT File]</a>
            </span>
            <span class="link-list">
                <a id="files_link" target="_blank" rel="noopener noreferrer" href="">[Playlist File]</a>
            </span>
        </div>
        <div id="transcript" class="transcript video_editing">
        </div>
    </div>
</div>
