<div class="col-xl-12 mb-4 d-flex">
    <div class="card flex-fill">
        <div class="card-header">
            Text <a id="vtt_link" target="_blank" rel="noopener noreferrer" href="">VTT File</a>
        </div>
        <div id="transcript" class="transcript video_editing">
        </div>
    </div>
</div>
