<div class="col-xl-12 mb-4 d-flex">
    <div class="card flex-fill">
        <div class="card-header">
            Text
        </div>
        <div id="transcript" class="transcript video_editing">
        </div>
    </div>
</div>
